In [2]:
root = 'C:\\Users\\silva\\Documents\\GitHub\\20-Tableau\\data\\'

ddict = {}
for file in os.listdir(root):
    if file.endswith(".csv"):
        name = os.path.splitext(file)[0][:6]
        ddict[name] = pd.read_csv(os.path.join(root, file))

In [1]:
import os, fnmatch
import csv
import pandas as pd
from datetime import datetime, date, time, timedelta
import datetime as dt
import numpy as np

In [3]:

print(set(ddict["201812"].columns)
    .intersection(set(ddict["201901"].columns))
    .intersection(set(ddict["201902"].columns))
    .intersection(set(ddict["201903"].columns))
    .intersection(set(ddict["201904"].columns))
    .intersection(set(ddict["201905"].columns)))

set(['end station id', 'end station longitude', 'bikeid', 'start station id', 'start station longitude', 'end station latitude', 'end station name', 'start station latitude', 'birth year', 'usertype', 'stoptime', 'starttime', 'gender', 'tripduration', 'start station name'])

In [4]:
ddicts= ddict.keys()
ddicts

['201812', '201904', '201905', '201902', '201903', '201901']

In [5]:

columns= ddict["201812"].columns
masterdf = pd.DataFrame( columns=columns)

for x in ddicts[0:]:
    masterdf =pd.concat([masterdf,ddict[x]])

In [6]:
masterdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7946153 entries, 0 to 967286
Data columns (total 15 columns):
tripduration               object
starttime                  object
stoptime                   object
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     object
usertype                   object
birth year                 object
gender                     object
dtypes: float64(6), object(9)
memory usage: 970.0+ MB

In [7]:
masterdf['starttime']=pd.to_datetime(masterdf['starttime'])
masterdf['stoptime']=pd.to_datetime(masterdf['stoptime'])
masterdf['birth year'] = masterdf['birth year'].astype(int)


masterdf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7946153 entries, 0 to 967286
Data columns (total 15 columns):
tripduration               object
starttime                  datetime64[ns]
stoptime                   datetime64[ns]
start station id           float64
start station name         object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name           object
end station latitude       float64
end station longitude      float64
bikeid                     object
usertype                   object
birth year                 int32
gender                     object
dtypes: datetime64[ns](2), float64(6), int32(1), object(6)
memory usage: 939.7+ MB

In [8]:
masterdf.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.302,2018-12-01 00:11:33.846,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.533,2018-12-01 00:03:30.523,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.233,2018-12-01 00:05:27.203,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.957,2018-12-01 00:12:28.183,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.632,2018-12-01 00:07:07.446,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [9]:
masterdf.to_csv("combofile.csv", index=False, header=True)

In [ ]:
masterdf.to_csv("combofile.csv", index=False, header=True)